

body{
    color: #777777;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.place{
    border-top:3px solid #cccccc;
    border-bottom: 3px solid #4aaaa5;
    margin-bottom: 0px;
}

.name{
    background-color: #4aaaa5;
    color: white;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:50px;
    width: 350px;
    text-align: center;
    font-size: 30px;
}


.content{
    background: #ffffff;
    padding:10px;

}


.content h2{
    padding:10px;
    border-bottom: 2px solid #dddddd;
    color: #4aaaa5;
}

.game-content{
    text-align: center;
    color:#000000;
}

.game{
    margin-top: 10%;
}


.crystal-game{
    color:#191970;
    }
    
    .total{
        font-size: 40px;
        background: #191970;
        color: #ffffff;
        padding: 10px;
       
    }
    
    .crystals{
        padding:5px;
    }
    
    .crystal-game h2{
        color:#191970;
    }
    
    .score{
        font-size:25px;
       
    }


@media screen and (max-width: 980px) {
    .crystals img{
        width: 75px;
        height:75px;
    }
       
}